aiohttp==3.9.5
APScheduler==3.10.4
dnspython==2.6.1
expiringdict==1.2.2
IPy==1.1
networkx==3.3
pybgpkit-parser==0.4.3
pyTelegramBotAPI==4.21.0
pytz==2024.1
pyunycode==0.1.1
Requests==2.32.3
requests_futures==1.0.1
sentry_sdk==2.11.0
