aiohttp==3.12.15
APScheduler==3.11.0
dnspython==2.7.0
expiringdict==1.2.2
punycode==0.2.1
pyTelegramBotAPI==4.28.0
pytz==2025.2
Requests==2.32.4
requests_futures==1.0.2
rustworkx==0.16.0
sentry_sdk==2.34.1
urllib3==2.5.0
